body {
    font-family: Arial, sans-serif;
    color-scheme: light dark;
    background-color: Canvas;
    color: CanvasText;
}

.language-selector-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
}

.language-selector-wrapper select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid ButtonBorder;
    border-radius: 5px;
    background-color: ButtonFace;
}

.language-selector-wrapper label {
    font-size: 16px;
    padding-right: 3px;
}

#results {
    margin-top: 20px;
    padding: 20px;
}

#results table {
    width: 100%;
    border-collapse: collapse;
}

#results table th {
    text-align: center;
    font-size: large;
    padding: 3px 10px;
}

#results table .header.code {
    width: 10%;
}

#results table .header.url {
    width: 10%;
}

#results table td {
    padding: 3px 10px;
    border-top: 1px solid ButtonBorder;
    border-left: 1px solid ButtonBorder;
}

#results table td:first-child {
    border-left: none;
}

#searchWrapper {
    padding: 20px;
    width: fit-content;

    #searchButton {
        padding: 5px;
        font-size: 16px;
        border: 1px solid ButtonBorder;
        border-radius: 5px;
    }

    #searchBox {
        padding: 5px;
        font-size: 16px;
        border: 1px solid ButtonBorder;
        border-radius: 5px;
    }
}

#icd10-search {
    font-size: larger;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 0px;
}

.searchTermText {
    font-weight: bold;
}

.hidden {
    display: none;
}